.userLinks {
  /* display: none; */
  display: flex;
  justify-content: center;

}

.userLinks.active {
  display: flex;
}

.userSocialLogo {
  width: 50px;
}

.userLink {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  margin-left: 10px;
  text-decoration: none;
  color: #000;
}

.userLink:hover {
  color: rgba(67, 136, 185, 1);
}