body {
  background-image: url(main.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  font-family: "Comfortaa", cursive;
}

b {
  font-weight: 700;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.card {
  padding: 20px;
  border-radius: 20px;
  background-color: #ffffffda;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.521);
  font-size: 18px;
  margin-bottom: 20px;
  width: 70%;
}

@media (max-width: 500px) {
  .container {
    width: 95%;
  }

  .menu-button {
    display: block;
    position: absolute;
    right: 35px;
    top: 25px;
    width: 30px;
    height: 2px;
    background-color: #fff;
    border: none;
    cursor: pointer;
  }

  .menu-button::before {
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    background-color: #fff;
    margin-top: -7px;
    position: absolute;
    right: 0;
    top: 0;
    transition: transform 0.5s;
  }

  .menu-button::after {
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    background-color: #fff;
    margin-top: 7px;
    position: absolute;
    right: 0;
    top: 0;
    transition: transform 0.5s;
  }

  .menu-button.active {
    height: 0;
  }

  .menu-button.active::before {
    transform: rotate(45deg);
    margin-top: 0;
  }

  .menu-button.active::after {
    transform: rotate(-45deg);
    margin-top: 0;
  }

  .user-card {
    margin-top: 50px;
  }

  .nav {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #8888884d;
    width: 250px;
    /* transform: translateX(101%); */
    /* transition: transform .2s; */
  }

  .nav.active {
    display: flex;
    /* transform: translateX(-1%); */
  }

  .nav-list {
    display: inline-block;
    padding-right: 100px;
  }

  .nav-link {
    margin: 15px 0;
  }
}

@media (max-width: 340px) {
  .user-links {
    flex-direction: column;
  }

  .header-logo {
    display: none;
  }
}